/* Google Fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* Common Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 78%;
    margin: 0 auto;
    margin-top: 70px;
}

h1 {
    font-size: 64px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    font-weight: bold;
}

p {
    font-size: 16px;
    font-weight: 500;
}

/* Header Part Styles */
header {
    width: 100%;
    background-color: #2D25A0;
}

.top-banner {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.top-banner-info {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.top-banner-info h1 {
    width: 485px;
    margin-top: 121px;
    color: #FFFFFF;
    line-height: 80px;
}

.top-banner-button a {
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
}

.top-banner-button a span {
    margin-right: 8px;
    font-size: 16px;
    font-weight: 500;
}

.top-banner .top-banner-img img {
    width: 556px;
    height: 438px;
    margin: 67px 0px 80px 0px;
}

/* Star Player Section Styles */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    column-gap: 30px;
}

.player {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.151);
    margin-bottom: 35px;
}

.player img {
    width: 300px;
    height: 256px;
    margin: 15px auto;
}

.players .player h3 {
    color: #18191F;
    margin: 0px 16px 10px 16px;
}

.players .player p {
    color: #6C6C6C;
    text-align: justify;
    margin: 0px 16px 33px 16px;
}

/* Stadium Styles */
.stadium-info {
    display: grid;
    grid-template-columns: 300px repeat(1, 1fr);
    align-items: center;
    column-gap: 10px;
}

.stadium-title h2 {
    color: #18191F;
    margin-top: -35px;
}

.stadiums {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.stadium {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stadium img {
    width: 200px;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.20);
}

/* Sponsors Styles */
.sponsor-title {
    color: #18191F;
    text-align: center;
}

hr {
    color: #6C6C6C;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.sponsors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 90px;
}

.sponsor img {
    width: 120px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.20);
}

/* Footer styles */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-item {
    margin-bottom: 20px;
}

.footer-item img {
    width: 480px;
    height: 110px;
}

.footer-item a {
    text-decoration: none;
    font-size: 24px;
    padding: 0 15px;
    color: #6C6C6C;
}

/* Animation while hovering the image of top-banner */
.top-banner-img:hover img {
    animation: top-banner 2s linear 0.5s infinite alternate;
}

@keyframes top-banner {

    25% {
        transform: scale(1.1, 1.1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    75% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}


/* Responsive Styles using Media Query*/

/* Mobile Device */
@media only screen and (max-width:600px) {
    header {
        width: 100%;
    }

    .top-banner {
        width: 90%;
        flex-direction: column;
    }

    .top-banner h1 {
        width: 280px;
        font-size: 36px;
        line-height: 50px;
        margin-top: 50px;
    }

    .top-banner .top-banner-img img {
        width: 330px;
        height: 260px;
    }

    .container {
        width: 90%;
    }

    .players,
    .stadiums {
        grid-template-columns: repeat(1, 1fr);
    }

    .player {
        flex-direction: column;
    }

    .stadium-info {
        grid-template-columns: repeat(1, 1fr);
    }

    .stadium-title h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .sponsors {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-item img {
        width: 300px;
        height: 65px;
    }

}